/* ---Variables--- */
:root {
    /* --Colors-- */
    --bright-blue: hsl(220, 98%, 61%);
    --check-Background: linear-gradient(145deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    --circle-border-clr-hvr: hsl(234, 11%, 52%);
    --header-clr: #fff;
    --txt-cursor-clr: #5e76b6;
    --todo-plchldr-clr: hsl(234, 11%, 52%);
    --os-size: 20px
}

.os-theme-custom {
    --os-size: 20px
}

body.dark-theme {
    --document-bg-clr: hsl(235, 21%, 11%);
    --card-bg-clr: hsl(235, 24%, 19%);
    --todo-txt-clr: hsl(234, 39%, 85%);
    --todo-txt-clr-hvr: hsl(236, 33%, 92%);
    --circle-border-clr: #33354a;
    --todo-completed-txt-clr: hsl(233, 14%, 35%);
    --todo-separate-lines-clr: hsl(237, 14%, 26%);
    --card-footer-txt-clr: hsl(233, 14%, 35%);
    --filter-txt-clr-hrv: hsl(236, 33%, 92%);
    --clear-completed-clr-hrv: hsl(236, 33%, 92%);
}

body.light-theme {
    --document-bg-clr: hsl(235, 43%, 95%);
    --card-bg-clr: hsl(0, 0%, 98%);
    --todo-txt-clr: hsl(235, 19%, 35%);
    --todo-txt-clr-hvr: hsl(235, 19%, 35%);
    --circle-border-clr: hsl(233, 11%, 84%);
    --todo-completed-txt-clr: hsl(233, 11%, 84%);
    --card-footer-txt-clr: hsl(236, 9%, 61%);
    --filter-txt-clr-hrv: hsl(233, 14%, 35%);
    --clear-completed-clr-hrv: hsl(233, 14%, 35%);
    --todo-separate-lines-clr: #e6e5ea;
    

}
/* Resets */
/* Reset Buttons */
button {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-color: var(--document-bg-clr);
    font-family: 'Josefin Sans', sans-serif;
}

body.dark-theme {
    background-image: url('../images/bg-desktop-dark.jpg');
}


body.light-theme {
    background-image: url('../images/bg-desktop-light.jpg');
}

.card {
    width: 550px;
}


/* ---Header--- */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    color: var(--header-clr);

}

h1 {
    line-height: normal;
    letter-spacing: 10px;
    font-size: 3rem;
}

#toggle-theme {
    margin-top: 3px;
    position: relative;   
    width: 26px;
    height: 26px;
}

#toggle-theme button {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms;
}

body.dark-theme #toggle--dark-theme {
    opacity: 1;
}

body.dark-theme #toggle--light-theme {
    opacity: 0;
}

body.light-theme #toggle--light-theme {
    opacity: 1;
}

body.light-theme #toggle--dark-theme {
    opacity: 0;
}

/* ---Main--- */
main {
    width: inherit;
    --main-x-padding: 20px;
    --card-border-radius: 5px;
    --todo-item-y-padding: 20px;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    outline: 0;
    flex: 1;
    caret-color: var(--txt-cursor-clr);
    font-size: 1.2rem;
    color: var(--todo-txt-clr);
    line-height: normal;
    height: 100%;
}

input[type="text"]::placeholder {
    color: var(--todo-plchldr-clr);
}

.check-todo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--main-x-padding);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid var(--circle-border-clr);
    transition: border-color 150ms;
}

.circle img {
    display: none;
}

.insert--todo-item.todo-item {
    margin-bottom: 30px;
    border-radius: var(--card-border-radius);
    border: 0;
}

body.dark-theme .insert--todo-item.todo-item {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.363);
}

body.dark-theme .card-footer {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.363);
}

#todo-list {
    max-height: 420px;
    overflow-y: auto;
}

.todo-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--card-bg-clr);
    border-bottom: 1px solid var(--todo-separate-lines-clr);
    cursor: pointer;
    height: 60px;
}

.todo-item:first-child {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}

#todo-list .todo-item input[type="text"] {
    cursor: pointer;
}

.delete-todo {
    opacity: 0;
    transition: opacity 200ms;
    height: 100%;
    padding: 0 var(--main-x-padding);
}

/* Todo item completed */
.todo-item.completed .circle {
    background: var(--check-Background);
}

.todo-item.completed .circle img {
    display: block;
}

#todo-list .todo-item.completed input[type="text"] {
    color: var(--todo-completed-txt-clr);
    text-decoration: line-through;
}

/* ---Card Footer--- */
.card-footer {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas: 
    "item-counter filter clear-completed";
    background-color: var(--card-bg-clr);
    color: var(--card-footer-txt-clr);
    font-size: 0.85rem;
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    line-height: normal;
}

#item-counter,
#filter label,
#clear-completed {
    padding: 20px 15px;
}

#item-counter {
    padding-left: var(--main-x-padding);
    grid-area: item-counter;
}

#filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: filter;
}

#filter label {
    cursor: pointer;
    font-weight: bold;
    color: var(--card-footer-txt-clr);
    transition: color 200ms;
}

#filter label.active {
    color: var(--bright-blue);
}

#filter input[type="radio"] {
    display: none;
}

#clear-completed {
    text-align: end;
    color: var(--card-footer-txt-clr);
    transition: color 200ms;
    padding-right: var(--main-x-padding);
    grid-area: clear-completed;
}

/* Hover States */
@media screen and (min-width: 551px) {
    #todo-list .todo-item:hover input[type="text"] {
        color: var(--todo-txt-clr-hvr);
    }
    
    .todo-item:hover .circle {
        border-color: var(--circle-border-clr-hvr);
    }
    
    .todo-item:hover .delete-todo {
        opacity: 1;
    }

    #filter label:hover {
        color: var(--filter-txt-clr-hrv);
    }

    #clear-completed:hover {
        color: var(--clear-completed-clr-hrv);
    }
}

/* Responsiviness */
@media screen and (max-width: 550px) {
    body {
        padding: 22px;
    }

    h1 {
        font-size: 2.2rem;
    }

    #toggle-theme {
        margin-top: 0;
        width: 23px;
        height: 23px;
    }

    .card {
        width: 100%;
    }

    input[type="text"] {
        font-size: 0.9rem;
    }

    .delete-todo {
        opacity: 1;
    }

    .delete-todo img {
        min-width: 15px;
    }

    .card-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "item-counter clear-completed"
            "filter filter"
        ;
        background-color: transparent;
        justify-content: center;
    }

    .card-footer > * {
        background-color: var(--card-bg-clr);
    }

    body.dark-theme .card-footer {
        box-shadow: none;
    }

    #item-counter,
    #filter label,
    #clear-completed {
        padding: 17px;
    }

    #item-counter {
        border-bottom-left-radius: var(--card-border-radius);
    }

    #filter {
        justify-content: center;
        margin-top: 20px;
        border-radius: var(--card-border-radius);
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.363);
        
    }

    #clear-completed {
        border-bottom-right-radius: var(--card-border-radius);
    }
}

@media screen and (max-width: 375px) {
    body.dark-theme {
        background-image: url('../images/bg-mobile-dark.jpg');
    }
    
    body.light-theme {
        background-image: url('../images/bg-mobile-light.jpg');
    }

    input[type="text"] {
        width: 100%;
    }
}